{% extends "base.html" %}
{% block title%}项目管理{% endblock %}
{% block maintitle %}
  <a href="/sgin/add_event_page/" class="btn btn-info navbar-right">添加项目</a>
{% endblock %}
{% block content%}
  <ul class="list-group">
    {% for event in event_list %}
      <li class="list-group-item text-center">
      <a href="/sgin/events/{{ event.id }}">{{ event }}</a>
      </li>
    {% endfor %}
  </ul>
        {# 实现分页标签的代码 #}
    {# 这里使用 bootstrap 渲染页面 #}
    <div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if event_list.has_previous %}
                    <a class='active' href="?page={{ event_list.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    Page {{ event_list.number }} of {{ event_list.paginator.num_pages }}</span>

                {% if event_list.has_next %}
                    <a class='active' href="?page={{ event_list.next_page_number }}">下一页</a>
                {% endif %}
                </li></ul></nav></div>
{% endblock %}
